
<div>
  <%= link_to "検索する", '#'%>
<div>
  <% @articles.each do |article| %>
    <div>
      <span>タイトル：
          <%= article.title %>
      </span>
    </div>
    <span>投稿者：
      <span>
        <%= link_to "#{article.user.nickname}さん", '#'%>
      </span>
    </span>
    <div>
      <%= markdown(article.text).html_safe %>
    </div>
    <div>
      <%# ユーザーが投稿したユーザーかそうでないかで条件分岐 %>
      <% if user_signed_in? && current_user.id == article.user.id %>
        <%= link_to "編集する", edit_article_path(article.id) %>
        <%= link_to "削除する", article_path(article.id), method: :delete %>
      <% end%>
      <%# 条件分岐終わり %>
      <%= link_to "詳細を確認する", article_path(article.id) %>
    </div>
  <% end %>
</div>
<%= link_to "ホーム画面に戻る", root_path %>
