<div class="container-fluid">
  <h2 class="text-center">新規投稿</h2>
  <%= form_with model: @article, url: articles_path, local: true do |f| %>
  <div class="col-xs-6">
    <div class="form-group">
      <%= f.label :タイトル %>
      <%= f.text_area :title, placeholder: "タイトルを入力してください(最大50文字)",class: "form-control",autofocus: true %>
    </div>

    <div class="form-group">
      <%= f.label :テキスト %><br />
      <% text = "### 投稿したい記事
以下に投稿したい内容を記入してください

(例)rubyにおけるform_withについて

#### 使用した言語(ruby ,html ,css など)
(注意)上の言語を日本語にしたまま入力するとエラーが起こります!

```ruby
ここにコードを記入
```

#### 自分が新しく学んだものは何であるのか

#### どの部分を理解するのに苦労したか"%>
      <%= f.text_area :text, value: "#{text}", placeholder: "投稿したい内容を30字から10000字で記入してください。

記入はマークアップ言語を用いて書くと綺麗に書くことができます。", rows: "20",class: "form-control",autocomplete: true %>
    </div>
  </div>

  <div class="col-xs-6">
    <% if @article %>
    <%# <div class="border"> %>
      <%# <%= markdown(@article.text).html_safe  %> 
    </div>
    <% end %>
  <%# </div> %>

  <div class="actions">
    <%= f.submit "記事を投稿する",class: "btn btn-primary btn-lg btn-block" %>
  </div>
<% end%>
</div>