<div class="col-sm-8">
  <h3>タイトル:
      <%= @article.title %><br>
  </h3>
  <h3>
    投稿者:
      <%= "#{@article.user.nickname}さん" %>
  </h3>
  <%= markdown(@article.text).html_safe %>
  <%# ユーザーが投稿したユーザーかそうでないかで条件分岐 %>
  <% if user_signed_in? && current_user.id == @article.user.id %>
    <%= link_to "記事を編集する", edit_article_path(@article.id), class: "btn btn-primary space" %>
    <%= link_to "記事を削除する", article_path(@article.id), method: :delete, class: "btn btn-danger space", data: { confirm: "本当に削除しますか" }  %>
  <% end%>
  <%# 条件分岐終わり %>
  <h3>コメント投稿</h3>
  <%=  form_with(model: [@article,@comment], local: true) do |f| %>
    <div class="form-group">
      <%= f.text_area :comment, placeholder: "コメントする",autofocus: true, class: "form-control", id: "editor" %>
    </div>

    <script>
      var simplemde = new SimpleMDE({ 
        element: document.getElementById("editor"),
        tabSize: 4});
    </script>
    <script>
        marked.setOptions({
              sanitize: true,
              sanitizer: escape,
              breaks : true
          });
    </script>

    <div class="actions"> 
      <%= f.submit "コメントを投稿する", class: "btn btn-primary btn-lg btn-block margin" %>
    </div>
  <% end %>
</div>

<div class="col-sm-4">
  <% if @comments %>
    <h4>コメント一覧</h4>
    <%= will_paginate @comments, :previous_label => '&lt 前へ', :next_label => '次へ &gt', inner_window: 1, outer_window: 0 %>
      <% @comments.each do |comment| %>
        <p>
          <details>
            <summary>
              <%= "投稿者: #{comment.user.nickname}"%><br>
            </summary>
          <%= markdown(comment.comment).html_safe %><br>
          <% if current_user == comment.user%>
            <%= link_to "編集する", edit_article_comment_path(@article,comment),class:"btn btn-primary" %>
            <%= link_to "削除する", article_comment_path(@article,comment), class:"btn btn-danger space", method: :delete, data: { confirm: "本当に削除しますか" } %>
          <% end%>
          </details>
        </p>
      <% end%>
    <%= will_paginate @comments, :previous_label => '&lt 前へ', :next_label => '次へ &gt', inner_window: 1, outer_window: 0 %>
  <% end %>
</div>


