<div>
  <span>タイトル：
      <%= @article.title %>
  </span>
</div>
<span>投稿者：
  <span>
    <%= "#{@article.user.nickname}さん" %>
  </span>
</span>
<div>
  <%= markdown(@article.text).html_safe %>
</div>
<div>
  <%# ユーザーが投稿したユーザーかそうでないかで条件分岐 %>
  <% if user_signed_in? && current_user.id == @article.user.id %>
    <%= link_to "編集する", edit_article_path(@article.id) %>
    <%= link_to "削除する", article_path(@article.id), method: :delete %>
  <% end%>
  <%# 条件分岐終わり %>
</div>
<div>
  <%= link_to "投稿一覧画面に戻る", articles_path %>
</div>

