<div class="container-fluid">
  <h2 class="text-center">ログイン</h2>
  <%= form_with model: @user, url: user_session_path, local: true do |f|  %>
    <%= render "devise/shared/error_messages", resource: @user %>
    <div class="col-xs-6 col-xs-offset-3">
      <div class="form-group">
      <%= f.label :Eメール %><br />
      <%= f.email_field :email, autofocus: true, placeholder: "Eメールを入力してください", autocomplete: "email" , class: "form-control"%>
      </div>

      <div class="form-group">
        <%= f.label :パスワード %>
        <%= f.password_field :password, placeholder: "6文字以上の英数字を入力してください", class: "form-control" %>
      </div>

      <%# <% if devise_mapping.rememberable? %> 
        <%# <div class="field"> %>
          <%# <%= f.check_box :remember_me %> 
          <%# <%= f.label :remember_me %> 
        <%# </div> %>
      <%# <% end %> 

      <div class="actions">
        <%= f.submit "ログイン", class: "btn btn-primary btn-lg btn-block" %>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>

