<% if current_user %>
  <h2>
    <div>
      こんにちは、
      <%= link_to "#{current_user.nickname}さん", user_path(current_user) %>
    </div>
  </h2>
    <% unless room_logged_in? %>
      <div>
        <%= link_to 'ルームを作成する',  new_room_path %>
        <%= link_to 'ルームに入る', new_session_path %>
      </div>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    <% else %>
      <div>
        <%= link_to '記事を投稿する', new_article_path %>
      </div>
      <div>
        <%= link_to '記事を閲覧する', articles_path %>
      </div>
      <div>
        <%= link_to 'ルームを退出する', session_path(current_room), method: :delete%>
      </div>
    <% end%>
<% else %>
  <div>
    <%= "ようこそ、質問投稿アプリへ" %>
  </div>
  <div>
    <%= link_to 'ログイン', new_user_session_path %>
    <%= link_to '新規登録', new_user_registration_path %>
  </div>
<% end%>

